<!--
<div>
    <br>
    <table class="greyBarTable">

        <tr>
            <td  class="center">
                <label class="dataNumber center">38924758437528734</label><br>
                <label class="customerNavigation center">  Tom Sprinkler </label><br> 
                
                <label class="customerNavigation center"> <a  style="text-decoration: none;" href="javaScript:window.history.back()"> < <span class="back-button-text"> Back</span> </a> </label>
            </td>
            <td class="right">
                <img src="/assets/upArrow.png" class="greyAreaImages" alt="image"><label class="greyBarRightText right"> Export AR reconciliation </label> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="" onclick="window.print(); return false;"><img src="/assets/printer.png" class="greyAreaImages" alt="image"><label class="greyBarRightText right">  Print </label></a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="mailto:someone@yoursite.com?subject=Mail from Our Site"><img src="/assets/editPen.png" class="greyAreaImages" alt="image"><label class="greyBarRightText right">  Email </label></a> <br><br><br>
            </td>
        </tr>
    </table>    
</div>
-->

<div class="header">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col">

                <h1 class="header-title text-truncate mb-1 bellslim">
                    Employee Search
                </h1>
                <a href="#" class="small">
                    <i class="far fa-chevron-left mr-1"></i>Back
                </a>
            </div>
            <div class="col-auto">
                <a href="#" class="text-msi-02 small">
                    <i class="fas fa-user-plus mr-1"></i>Add new employee
                </a>
            </div>
        </div> <!-- / .row -->

    </div>
</div>
