<div>
    <!--<div><span> some header</span></div>-->
    <br>
    <table class="greyBarTable">

        <tr>
            <td  class="center">
                <label class="dataNumber center">38924758437528734</label><br>
                <label class="customerNavigation center">  Tom Sprinkler </label><br> 
                
                <label class="customerNavigation center"> <a  style="text-decoration: none;" href="javaScript:window.history.back()"> < <span class="back-button-text"> Back</span> </a> </label>
            </td>
            <td class="right">
                <img src="/assets/upArrow.png" class="greyAreaImages" alt="image"><label class="greyBarRightText right"> Export AR reconciliation </label> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="" onclick="window.print(); return false;"><img src="/assets/printer.png" class="greyAreaImages" alt="image"><label class="greyBarRightText right">  Print </label></a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="mailto:someone@yoursite.com?subject=Mail from Our Site"><img src="/assets/editPen.png" class="greyAreaImages" alt="image"><label class="greyBarRightText right">  Email </label></a> <br><br><br>
            </td>
        </tr>
    </table>    
</div>

