<!--
<div class="container">
  <div class="logo-container">
    <div class="logo">
      <img src="/assets/Bell.png"  alt="image">
    </div>
    <div class="logo-separator">
      <img src="/assets/Line-5.png"  alt="image">
    </div>
    <div class="logo-txt-container">
      <span style="word-wrap: break-word;" [innerHTML]="'default.BCT' | translate"></span>
    </div>
  </div>
  <div class="toolbar-container">
    <div class="role-switcher">
      Non-Dedicated<img style="margin-left:3px;" src="/assets/menu-toggle.png"  alt="image">
    </div>
    <div class="toolbar-first-separator">
      <img src="/assets/Rectangle.png"  alt="image">
    </div>
    <div class="logout">
        <a href="#"><img class="logout-image" src="/assets/icn_logout.png"></a>    
    </div>
    <div class="bct-help">
      <div  class="bct-help-container">
        <a href="#"><img src="/assets/icn_userguide.png"></a>
      </div>
  </div>
  <div class="toolbar-second-separator">
    <img src="/assets/Rectangle.png"  alt="image">
  </div>
  <div class="locale">
    <a class="locale-text" href="" (click)="changeLang($event)" id="language-toggle"><span [innerHTML]="'default.Header.lang' | translate" ></span></a>
  </div>
  </div>
</div> 
-->

<nav class="topnav navbar navbar-expand shadow navbar-light bg-msi-01" id="sidenavAccordion">
  <img src="/assets/bell-white.png" width="50" height="37" alt="" class="ml-4" />
        <a class="navbar-brand d-none d-sm-block text-white bellslim small" href="index.html">
    Business Collection Tool
  </a>
        <button class="btn btn-icon btn-transparent-light order-1 order-lg-0 ml-lg-5 mr-lg-2" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav align-items-center ml-auto">

            <li class="nav-item dropdown no-caret mr-1 dropdown-notifications text-light">
                <span style="cursor:pointer;">Non-dedicated<i class="fas fa-angle-down ml-1"></i></span>
            </li>
    <span class="text-light ml-2 mr-2">|</span>
            <li class="nav-item dropdown no-caret dropdown-notifications">
                <a class="btn btn-icon btn-transparent-light dropdown-toggle" id="navbarDropdownSendMail" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sign-out"></i></a>
            </li>
            <li class="nav-item dropdown no-caret dropdown-notifications">
                <a class="btn btn-icon btn-transparent-light dropdown-toggle" id="navbarDropdownMessages" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book"></i></a>
            </li>
    <span class="text-light ml-2 mr-2">|</span>
    <li class="nav-item dropdown no-caret mr-1 dropdown-notifications text-white">
                <span style="cursor:pointer;">FR</span>
            </li>

        </ul>
    </nav>
