<div class="container">
  <div class="logo-container">
    <div class="logo">
      <img src="/assets/Bell.png"  alt="image">
    </div>
    <div class="logo-separator">
      <img src="/assets/Line-5.png"  alt="image">
    </div>
    <div class="logo-txt-container">
      <span style="word-wrap: break-word;">Business Collection Tool</span>
    </div>
  </div>
  <div class="toolbar-container">
    <div class="role-switcher">
      Non-Dedicated<img style="margin-left:2px;" src="/assets/menu-toggle.png"  alt="image">
    </div>
    <div class="toolbar-first-separator">
      <img src="/assets/Rectangle.png"  alt="image">
    </div>
    <div class="logout">
      <div class="logoutButton">       
        <img style="position: absolute;width: 11px;height: 18px;left: calc(50% - 11px/2 - 3.5px);top: calc(50% - 18px/2);" src="/assets/Stroke5.png">
        <img style="position: absolute;width: 12px;height: 1px;left: calc(50% - 12px/2 + 3px);top: calc(50% - 1px/2 + 0.5px);" src="/assets/Stroke3.png">
        <img style="position: absolute;width: 4px;height: 8px;left: calc(50% - 4px/2 + 7px);top: calc(50% - 8px/2);" src="/assets/Stroke1.png">
      </div>
    </div>
    <div class="bct-help">
      <div id="Group33" style="margin-left:15px;position: absolute; width: 18px; height: 20px; ">
        <img style="position: absolute;  width: 4px; height: 0px; left: calc(50% - 4px/2 - 7px); top: calc(50% - 0px/2 + 6px);border: 1.5px solid #FFFFFF;" src="/assets/Line28.png">
        <img style="position: absolute;width: 4px;height: 0px;left: calc(50% - 4px/2 - 7px);top: calc(50% - 0px/2 + 2px);border: 1.5px solid #FFFFFF;" src="/assets/Line27.png">
        <img style="position: absolute;width: 4px;height: 0px;left: calc(50% - 4px/2 - 7px);top: calc(50% - 0px/2 - 2px); border: 1.5px solid #FFFFFF;" src="/assets/Line26.png">
        <img style="position: absolute; width: 4px;height: 0px;left: calc(50% - 4px/2 - 7px);top: calc(50% - 0px/2 - 6px);border: 1.5px solid #FFFFFF;" src="/assets/Line25.png"> 
        <img style="position: absolute; width: 16px; height: 20px;left: calc(50% - 16px/2 + 1px);top: calc(50% - 20px/2);" src="/assets/Rectangle17.png">
      </div>
  </div>
  <div class="toolbar-second-separator">
    <img src="/assets/Rectangle.png"  alt="image">
  </div>
  <div class="locale">
    <span>FR</span>
  </div>
  </div>
</div>