.navWrapper{
    left: 0%;
    right: 0%;
    top: 60px;
    bottom: 0%;
    background: #00549A;
    width:200px;
    min-height:1204px;
    flex:1 
}

.navContainer{
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: absolute;
    width: 200px;
    height: 694px;
    left: 0px;
    top: 75px;
    order:1;
}

.menu-item-wrapper{
    order:1;
}
.menu-item{
    width: 200px;
    height: 48px;
    left: 0px;
    top: 0px;
    order:1;
}

.menu-item-text-wrapper{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:22px;
    padding-right:22px;
}
.menu-item-text{
    height: 18px;
    left: 0px;
    right: 0px;
   
    /* Body / Body */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    /* Secondary / Blue Light */
    color: #C2CEDF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.left-menu-item-line{
    height: 0px;
    bottom: 0px;
    border: 1px solid #003778;
    margin-left:22px;
    margin-right:22px;
 }

 .child-menu-item-wrapper{
    order:2;
}
 .child-menu-item-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    position: static;
    width: 200px;
    height: 436px;
    left: 0px;
    top: 258px;
    background: #003778;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
    margin-bottom:10px;
 }

 .child-menu-item-text-wrapper{
    padding-top:6px;
    padding-bottom:6px;
    padding-left:44px;
    padding-right:39px;
}

.child-menu-item-text{
    height: 18px;
    left: 44px;
    right: 39px;
    top: calc(50% - 18px/2);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #C2CEDF;   
    text-decoration: none;
}

.extra-height{
    height:36px;
}