<div class="navWrapper">
    <div class="navContainer">
        <div class="menu-item-wrapper">
            <div class="menu-item">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text" routerLink=search-customer [innerHTML]="'default.Nav.search' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            <div class="menu-item">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text" href="#" [innerHTML]="'default.Nav.workflow' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            <div class="menu-item" style="height:66px;">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text extra-height" href="#" [innerHTML]="'default.Nav.MASTNAC' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            <div class="menu-item">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text" href="#" [innerHTML]="'default.Nav.letters' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            
            <div *ngIf="enableAdmin && !enableAccount" class="menu-item">
                <div class="menu-item-text-wrapper" >
                    <img *ngIf="showChildItems" style="margin-right:2px;" src="/assets/Triangle.png"  alt="image">
                    <img *ngIf="!showChildItems" style="margin-right:2px;" src="/assets/drop-rectangle.png"  alt="image">
                    <a class="menu-item-text" href="" [innerHTML]="'default.Nav.administrator.title' | translate" (click)="toggleChildMenu($event)"></a>
                </div>
            </div>

            <div *ngIf="enableAccount && !enableAdmin" class="menu-item">
                <div class="menu-item-text-wrapper">
                    <img *ngIf="showChildItems" style="margin-right:2px;" src="/assets/Triangle.png"  alt="image">
                    <img *ngIf="!showChildItems" style="margin-right:2px;" src="/assets/drop-rectangle.png"  alt="image">
                    <a class="menu-item-text" href="" [innerHTML]="'default.Nav.accountDetails.title' | translate" (click)="toggleChildMenu($event)"></a>
                </div>
            </div>

        </div>   
       
        <div class="child-menu-item-wrapper" *ngIf="showChildItems">
            <app-sub-nav [submenu]="submenu" ></app-sub-nav>
        </div>
       
    </div>
</div>