<div class="navbar">
    <table>
        <tr><td><a class="navbarHeadText a" routerLink="search">Search</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Workflow</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">MASTNAC creation and modification</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><img  src="/assets/Triangle.png"> <a class="navbarHeadText a" routerLink="customer">Account Details</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Account details</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Action</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Action History</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Issue</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Issue History</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Collection History</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">MASTNAC details</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Negotiation</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Negotiation History</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">AR activity</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><a class="navbarHeadText a" routerLink="customer">Action Reconciliation</a></td></tr>
        <tr><td><p> </p></td></tr>
        <tr><td><img  src="/assets/Triangle.png"> <a class="navbarHeadText a" routerLink="customer">Administator</a></td></tr>
        <tr><td><p> </p></td></tr>
    </table>
    
</div>
