<!--
<div class="navWrapper">
    <div class="navContainer">
        <div class="menu-item-wrapper">
            <div class="menu-item">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text" routerLink=search-customer [innerHTML]="'default.Nav.search' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            <div class="menu-item">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text" href="#" [innerHTML]="'default.Nav.workflow' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            <div class="menu-item" style="height:66px;">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text extra-height" href="#" [innerHTML]="'default.Nav.MASTNAC' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            <div class="menu-item">
                <div class="menu-item-text-wrapper">
                    <a class="menu-item-text" href="#" [innerHTML]="'default.Nav.letters' | translate"></a>
                </div>
                <div class="left-menu-item-line"></div> 
            </div>
            
            <div *ngIf="enableAdmin && !enableAccount" class="menu-item">
                <div class="menu-item-text-wrapper" >
                    <img *ngIf="showChildItems" style="margin-right:2px;" src="/assets/Triangle.png"  alt="image">
                    <img *ngIf="!showChildItems" style="margin-right:2px;" src="/assets/drop-rectangle.png"  alt="image">
                    <a class="menu-item-text" href="" [innerHTML]="'default.Nav.administrator.title' | translate" (click)="toggleChildMenu($event)"></a>
                </div>
            </div>

            <div *ngIf="enableAccount && !enableAdmin" class="menu-item">
                <div class="menu-item-text-wrapper">
                    <img *ngIf="showChildItems" style="margin-right:2px;" src="/assets/Triangle.png"  alt="image">
                    <img *ngIf="!showChildItems" style="margin-right:2px;" src="/assets/drop-rectangle.png"  alt="image">
                    <a class="menu-item-text" href="" [innerHTML]="'default.Nav.accountDetails.title' | translate" (click)="toggleChildMenu($event)"></a>
                </div>
            </div>

        </div>   
       
        <div class="child-menu-item-wrapper" *ngIf="showChildItems">
            <app-sub-nav [submenu]="submenu" ></app-sub-nav>
        </div>
       
    </div>
</div>

-->

<div id="layoutSidenav_nav">

    <nav class="sidenav shadow-right sidenav-light mt-2">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
            
                <a class="nav-link mt-1 ml-1 mr-1" href="error.html" style="border-bottom:1px solid #003778;">
                    Search
                </a>
                
                <a class="nav-link mt-1 ml-1 mr-1" href="error.html" style="border-bottom:1px solid #003778;">
                    Work flow
                </a>
                
                <a class="nav-link mt-1 ml-1 mr-1" href="error.html" style="border-bottom:1px solid #003778;">
                    MASTNAC creation and modification
                </a>
               
                <a class="nav-link mt-1 ml-1 mr-1 collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseComponents" aria-expanded="false" aria-controls="collapseComponents" style="border-bottom:1px solid #003778;">
                    Account Details
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseComponents" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="error.html">Account details</a>
                    </nav>
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="error.html">Action</a>
                    </nav>
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="error.html">toto</a>
                    </nav>
                </div>
                
                <a class="nav-link mt-1 ml-1 mr-1 collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseComponents2" aria-expanded="false" aria-controls="collapseComponents2" style="border-bottom:1px solid #003778;">
                    Administrator
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseComponents2" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="error.html">Employee search</a>
                    </nav>
                    <nav class="sidenav-menu-nested nav">
                        <a class="nav-link" href="error.html">toto</a>
                    </nav>
                </div>
                
            </div>
        </div>
    </nav>

</div>
