<div class="child-menu-item-container">
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Account details</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Action</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Action history</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Issue</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text "  href="#">Issue history</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Collection history</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">MASTNAC details</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Negotiation</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Negotiation history</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">AR activity</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text"   href="#">AR reconciliation</a>
    </div>
</div>

