.search-result {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 300px;
    top: 650px;
    /* Secondary / White */
    padding: 0px;
    background: #ffffff;
}

table.result {
    align-items: left;
    padding: 0px;
    width: 1200px;
    height: 59px;
    vertical-align: middle;
}
