<div class="child-menu-item-container">
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Employee search</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Agent portfolio</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Workflow criteria</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Follow up criteria</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text extra-height"  href="#">Collection path management</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Strategy criteria</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Plan criteria</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Path edit criteria</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Exception</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#">Letter code</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text extra-height"  href="#">Agency distribution criteria</a>
    </div>
</div>
