<br>
<br>
<hr>
    <table style="width:100%;">
      <thead>
      <tr>
        <td align="left" class="dataNumber"><br>Issues<br></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="right"><br><a href="javaScript:e.preventDefault();" (click)="toggleDisplayDiv()"><img class="greyAreaImages" src="/assets/oval_snapshot.png"></a><br></td>
      </tr>
    </thead>
      <tbody id="customerDataBody" [hidden]="isShowDiv">
      <tr style="vertical-align: bottom;">
        <td colspan="3">
          <label class="widgetResults">2 results</label> 
        </td>
        <td colspan="3" align="right">
          <button class="widgetButton" (click)="open('issue-modal')"><img style="vertical-align:middle" src="/assets/history.png"> &nbsp;History</button>
          <button class="widgetButton" (click)="open('issue-modal')"><img style="vertical-align:middle" src="/assets/new.png"> &nbsp;New</button>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <table border="0" class="result" style="width: 100%;">
            
            <tr>  
              <th style="width: 25%;">Issue creation date</th>
              <th style="width: 25%;">Issue tracking date</th>
              <th style="width: 25%;">Amount</th>
              <th style="width: 25%;">User last updated</th>
            </tr>
      
      
            <tr *ngFor="let result of issueService.result">
            <!--<tr>-->
              <td style="width: 25%;"> {{result.creationDate}} </td>
              <td style="width: 25%;"> {{result.trackingDate}} </td> <!--<td style="width: 25%;"> {{result.issueTrackingDate}} </td>-->
              <td style="width: 25%;"> {{result.amount}} </td>
              <td style="width: 25%;"> {{result.updatedBy}} </td>
            </tr>

          </table>
        </td>
      </tr>
    </tbody>
      </table>
    <br>
    <hr>


    <button id="myBtn" (click)="open('issue-modal')">Open Modal</button>

<!-- The Modal -->
<div id="issue-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>


  <header class="modal-header">
      <h2 class="modal-title">Confirm</h2>
  </header>
  <div class="modal-body">
      <p>Please confirm</p>

      <form [formGroup]="issueForm" >
        <table style="width:100%;">
          <tr style="background-color: #F4F4F4;">
            <td colspan="6" align="right">
              <br>
              <a class="cancel" style="vertical-align: middle;" href="javaScript:e.preventDefault();" (click)="close('issue-modal')">
              <img style="vertical-align: middle;" src="./assets/closingX.png"></a>
              <br>
            </td></tr>
          <tr>  
            <td class="search-field"><label for="issue">Issue</label></td>
            <td class="search-field"><label for="creationDate">Creation date</label></td>
            <td class="search-field"><label for="trackingDate">Issue tracking date</label></td>
            <td class="search-field"><label for="status">Status</label></td>
            <td class="search-field"><label for="amount">Amount</label></td>
            <td class="search-field"><label for="updatedBy">User last updated</label></td>
          </tr>
          <tr>  
            <td><select formControlName="issue" class="select" id="issue">
                <option value="DuplicateInvoice">Duplicate invoice</option>
                </select>
            </td>
            <td><input readonly="readonly" #creationDate class="readonly" formControlName="creationDate" size="20"></td>
            <td>
              
              <input #trackingDate class="text" formControlName="trackingDate"  size="50">
     
            </td>
            <td><select formControlName="issue" class="select" id="status">
              <option value="Pending">Pending</option>
              </select>
          </td>
          <td><input #amount class="text" formControlName="amount" size="50"></td>
            <td><input readonly="readonly" #updatedBy type="text" class="readonly" formControlName="updatedBy" size="50"></td>
          </tr>
    
          <tr>  
            <td colspan="6" class="search-field"><label for="remark">Remark</label></td>
          </tr>
          <tr>  
            <td colspan="6" ><input #remark formControlName="remark" class="textarea" size="228"></td>
          </tr>
          <tr> <td colspan="6" >&nbsp;</td> </tr>
          <tr>  
            <td colspan="4" > &nbsp;</td>
            <td align="right">
              <a class="cancel" style="vertical-align: middle;" href="javaScript:e.preventDefault();" (click)="close('issue-modal')">Cancel</a> &nbsp;
            </td>
            <td align="left"> 
              <button  style="vertical-align: middle;" class="button" (click)="save();close('issue-modal');" id="Save" value="Save">Save</button>
            </td>
          </tr>
        </table>
      </form>
    

    </div>
  <div class="modal-footer">
      <button id="btnCancelDelete" class="btn btn-primary btn-cancel" type="button">Cancel</button>
      <button id="btnDelete" class="btn btn-default btn-submit" type="button">Ok</button>
  </div>

  </div>
</div>
