<div *ngIf="enableAdmin && !enableAccount" class="child-menu-item-container">
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.employeeSearch' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.agentPortfolio' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.workflowCriteria' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.followupCriteria' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text extra-height"  href="#" [innerHTML]="'default.Nav.administrator.collectionPathManagement' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.strategyCriteria' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.planCriteria' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.pathEditCriteria' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.exception' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.administrator.letterCode' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text extra-height"  href="#" [innerHTML]="'default.Nav.administrator.agencyDistributionCriteria' | translate"></a>
    </div>
</div>

<div *ngIf="enableAccount && !enableAdmin" class="child-menu-item-container">
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.title' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.action' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.actionHistory' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.issue' | translate">Issue</a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text "  href="#"[innerHTML]="'default.Nav.accountDetails.issueHistory' | translate" ></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.collectionHistory' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.mastnacDetail' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.negotiation' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.negotiationHistory' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text" href="#" [innerHTML]="'default.Nav.accountDetails.arActivity' | translate"></a>
    </div>
    <div class="child-menu-item-text-wrapper">
        <a class="child-menu-item-text"   href="#" [innerHTML]="'default.Nav.accountDetails.arReconciliation' | translate"></a>
    </div>
</div>

