<app-topbar></app-topbar>
<app-Navbar></app-Navbar>
<div  class="topGreyDisplay">
    <table class="topGreyDisplay">
        <tr><td>&nbsp;</td></tr>
        <tr class="greyAreaText center">
            <td><label class="greyAreaTextBigger">38924758437528734</label><br>
                <label> Tom Sprinkler </label><br> 
                <label>  < back </label>
            </td>
            <td class="greyAreaText right">
                <img src="/assets/ExportARReconciliationUpArrow.png" class="" alt="image"> Export AR reconciliation 
                <img src="/assets/ExportARReconciliationUpArrow.png" class="" alt="image"> Print 
                <img src="/assets/ExportARReconciliationUpArrow.png" class="" alt="image"> Email </td>
        </tr>
    </table>
</div>


<router-outlet></router-outlet>