.headerWrapper{
    order:1;
    flex:1;
    margin: 0;
}
.contentWrapper{
    height: 100%;
    order: 2;
    display: flex;
    flex-direction: row;
    flex:1;
    margin:0;
}
.pageContent{
    width:100%;
    border:green solid 3px;
    flex:1;
    display: flex;
    flex-direction: column;
}
.pageHeader{
    width:100%;
    height:86px;
    background:#f7efef;
}