<link rel="stylesheet" href="/vendor/bootstrap/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="/vendor/fontawesome-pro/css/all.min.css" />


<nav class="topnav navbar navbar-expand shadow navbar-light bg-msi-01" id="sidenavAccordion">
    <app-topbar></app-topbar>
</nav>
<div id="layoutSidenav">
    <app-Navbar></app-Navbar>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
    
                        <!-- header -->
                        <app-header></app-header>
    
                        <!-- CONTENT -->
                        <router-outlet></router-outlet>
    
                    </div>
                </div> <!-- / .row -->
            </div>
        </main>
    
        <footer class="footer mt-auto footer-light small">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 small">
                        Bell Canada, 2020. All rights reserved.
                    </div>
                    <div class="col-md-6 text-md-right small">
                        0.9<i class="fad fa-grip-vertical ml-2"></i>
                    </div>
                </div>
            </div>
        </footer>
    
    
    </div>
</div>
