
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

/*
.ag-theme-alpine {
    @include ag-theme-refresh((
        odd-row-background-color: #CFD8DC
    ));
}

.ag-body-viewport {
    overflow-y: scroll !important;
}  
*/


/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    flex-direction: column;
    margin:0;
}

.header{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height:50px;
	background: #00549A;
}

.topbar_img {
    position:relative; 
    left:50px; 
    top:10px;
    border:none;
 }


 .navbar{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 50px;
	bottom: 0%;
	width: 200px;
	height:100%;
	background: #00549A;
}

.search {
    position: absolute;
    width: 1000px;
    height: 170px;
    left: 300px;
    top: 150px;
    /* Secondary / White */
    background: #ffffff;
}

.search-frame1 {
    align-items: center;
    padding: 5px;
    position: static;
    width: 940px;
    height: 59px;
    left: 30px;
    top: 30px;
}

.search-frame2 {
    padding: 0px;
    position: static;
    width: 100px;
    height: 36px;
    left: 825px;
    top: 104px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;
}


.text {
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    height: 36px;
    padding: 15px;
}

    .readonly {
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 4px;
        width: 160px;
        height: 36px;
        background-color: lightgray;
        }
    
    .textarea {
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 4px;
        height: 36px;
    padding: 15px;
        }
    
.select {
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    height: 36px;
    }
    

    .search-field {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    color: #111111;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    
    position: static;
    width: 96px;
    height: 36px;
    right: 0px;
    top: 0px;
    /* Buttons / Primary / Light Theme / Normal */
    background: linear-gradient(180deg, rgba(0, 55, 120, 0.9) 5.31%, #003778 98.26%);
    /* Secondary / Blue Medium */
    border: 1px solid #003778;
    box-sizing: border-box;
    border-radius: 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
    align-items: center;
    text-align: center;
    /* Secondary / White */
    color: #FFFFFF;
}

.search-result {
    position: absolute;
    width: 1000px;
    height: 400px;
    left: 300px;
    top: 350px;
    /* Secondary / White */
    padding: 0px;
    background: #ffffff;
}

table {
    align-items: left;
    padding: 0px;
    width: 940px;
    height: 59px;
    vertical-align: middle;
}

table.result {
    align-items: left;
    padding: 0px;
    width: 940px;
    height: 59px;
    vertical-align: middle;
}

table.result th {
    background: #404040;
    width: 170px;
    height: 34px;
    padding: 0px;
    border: 0px solid #D4D4D4;
    text-align: left;
    padding: 2px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
}


table.result tr:nth-child(odd) {
    color: black;
    padding: 0px;
    width: 200px;
    height: 30px;
    left: 0px;
    top: 34px;
    /* Secondary / White */
    background: #FFFFFF;
    /* Secondary / Gray Keyline */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
}

table.result tr:nth-child(even) {
    color: black;
    padding: 0px;
    width: 200px;
    height: 30px;
    left: 0px;
    top: 34px;
    /* Secondary / White */
    background: #F4F4F4;
    /* Secondary / Gray Keyline */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
}


.form-labels
{
    position: static;
width: 115.33px;
left: 0px;
top: 0%;
bottom: 0%;

/* Fields / Field Label */

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

text-align: right;

/* Secondary / Gray Dark */

color: #111111;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 15px;
}

.bigger {
    font-size: larger;
}

.greyAreaImages
{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.dataNumber{
    position: static;
    left: 18.97%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    /* Body / Small body */
    
    font-family: Arial;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 5px;
    /* identical to box height, or 117% */
    
    display: flex;
    align-items: center;
    
    /* Secondary / Blue Medium */
    
    color:black;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5px;
}
