

<div class="search">
  <form [formGroup]="searchForm" >
    <table border="0" class="search-frame1">
      <tr>  
        <td class="search-field"><label for="userID">User ID</label></td>
        <td class="search-field">PEIN</td>
        <td class="search-field">First Name</td>
        <td class="search-field">Last Name</td>
        <td class="search-field">Manager</td>
        <td class="search-field">Role</td>
      </tr>
      <tr>  
        <td><input #userID class="text" formControlName="userID" size="20"></td>
        <td><input #PEIN class="text" formControlName="PEIN" size="20"></td>
        <td><input #firstName class="text" formControlName="firstName" size="50"></td>
        <td><input #lastName class="text" formControlName="lastName" size="50"></td>
        <td><input class="text" type="text" name="Manager" value="" id="Manager" size="100"></td>
        <td><select class="text" type="select" name="Role" value="" id="Role" size="20"></select></td>
      </tr>
    </table>
    <table border="0" class="search-frame2" align="right">
      <tr>  
        <td> <input class="button" (click)="search()"  type="button" name="Search" value="Search">
        </td>
      </tr>
    </table>
    </form>
    </div>


  <div *ngIf="searchService.result.length > 0">
    <div class="search-result">

          <ag-grid-angular
            #employeeSearch
            style="width: 100%; height: 100%;"
            class="ag-theme-alpine"
            [pagination]="true"
            (onGridReady)="onGridReady($event)"
            [defaultColDef] = "defaultColDef"
            [rowSelection]="rowSelection"
            [enableRangeSelection]="true"
            [suppressRowClickSelection]="true"
            [rowData]="rowData"
            [paginationPageSize]="pageSize"
            [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
