<div class="search">
    <table border="0" class="search-frame1">
      <tr>
        <td class="form-labels"><label for="mastnac">MASTNAC </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">0-30 </label></td>
        <td class="form-data-right"><label for="mastnac"> 0.00</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Golden Key Name </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac">Golden Key Number </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>       
        <td class="form-labels"><label for="mastnac">30-60 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Account Number </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">60.90 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">CustCode </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac">Suffix </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>       
        <td class="form-labels"><label for="mastnac">90-120 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Province </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">120+ </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Invoice System </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">120-65 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Customer Name </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.firstName }} {{ CustomerList.lastName }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">365+ </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Address Line 1 </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Susp amt </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Address Line 2 </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Cur bal due </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Postal Code </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td colspan="2" class="form-labels"><label for="mastnac"><hr></label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Country name </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.country }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Balance after write off </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Type </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td colspan="2" class="form-labels"><label for="mastnac"><hr></label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Language </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Payment Term </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Portfolio </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Currency </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Class of service </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td colspan="2" class="form-labels"><label for="mastnac"><hr></label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Credit class </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac">Bus office </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>       
        <td class="form-labels"><label for="mastnac">Credit Deposit </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Established date </label></td>
        <td class="form-data-left"><label for="mastnac"> {{'0'}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac">  </label></td>       
        <td class="form-labels"><label for="mastnac">Deposit accrued interest </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Account number changed </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.firstName }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Credit Risk Amount </label></td>
        <td class="form-data-right"><label for="mastnac"> {{'0'}}</label></td>
      </tr>
    </table>

    <hr>

</div>