<div class="search" id="customerData">
    <table style="border:0;" class="search-frame1">
      <thead id="customerDataHead">
        <tr>
          <td class="form-labels bigger"><br>Customer Info<br></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="form-data-right">
            <a href="" (click)="showHide('customerDataBody', $event)">
               <img *ngIf="expandCustomerBody" class="greyAreaImages" src="/assets/oval_snapshot.png">
               <img *ngIf="!expandCustomerBody" class="greyAreaImages" src="/assets/Group.png">
            </a>
          </td>
        </tr>
        <tr><td colspan="6">&nbsp;</td></tr>
      </thead>
      <tbody *ngIf="expandCustomerBody" id="customerDataBody">
      <tr>
        <td class="form-labels"><label for="mastnac">MASTNAC </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.mastnac}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">0-30 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.zeroToThirty}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Golden Key Name </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.goldenKeyName }}</label></td>
        <td class="form-labels"><label for="mastnac">Golden Key Number </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.goldenKeyNumber}}</label></td>       
        <td class="form-labels"><label for="mastnac">30-60 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.thirtyToSixty}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Account Number </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.accountNumber}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">60.90 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.sixtyToNinety}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">CustCode </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.custCode}}</label></td>
        <td class="form-labels"><label for="mastnac">Suffix </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.sufx}}</label></td>       
        <td class="form-labels"><label for="mastnac">90-120 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.ninetyToOneTwenty}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Province </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.state}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">120+ </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.oneTwentyPlus}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Invoice System </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.invoiceSystem }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">120-365 </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.oneTwentyToThreeSixtyFive}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Customer Name </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.firstName }} {{ CustomerList.lastName }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">365+ </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.threeSixtyFivePlus}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Address Line 1 </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.adrLine1}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Susp amt </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.suspAmt}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Address Line 2 </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.adrLine2}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Cur bal due </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.curBalDue}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Postal Code </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.postalCode }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td colspan="2" class="form-labels"><label for="mastnac"><hr></label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Country name </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.country }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Balance after write off </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.balanceAfterWriteOff}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Type </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.type}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td colspan="2" class="form-labels"><label for="mastnac"><hr></label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Language </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.language}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Payment Term </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.paymentTerm}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Portfolio </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.portfolio}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Currency </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.currency}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Class of service </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.classOfService}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td colspan="2" class="form-labels"><label for="mastnac"><hr></label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Credit class </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.creditClass}}</label></td>
        <td class="form-labels"><label for="mastnac">Bus office </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.busOffice}}</label></td>       
        <td class="form-labels"><label for="mastnac">Credit Deposit </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.creditDeposit}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Established date </label></td>
        <td class="form-data-left"><label for="mastnac"> {{CustomerList.establishedDate}}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac">  </label></td>       
        <td class="form-labels"><label for="mastnac">Deposit accrued interest </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.depositAccruedInterest}}</label></td>
      </tr>

      <tr>
        <td class="form-labels"><label for="mastnac">Account number changed </label></td>
        <td class="form-data-left"><label for="mastnac"> {{ CustomerList.accountNumberChanged }}</label></td>
        <td class="form-labels"><label for="mastnac"> </label></td>
        <td class="form-data-left"><label for="mastnac"> </label></td>       
        <td class="form-labels"><label for="mastnac">Credit Risk Amount </label></td>
        <td class="form-data-right"><label for="mastnac"> {{CustomerList.creditRiskAmount}}</label></td>
      </tr>
    </tbody>

    <!-- ISSUES COMPONENT-->
    <tbody><tr><td colspan="6"><app-issue></app-issue></td></tr></tbody>
    </table>

</div>
<script>
  function showHide(parm1) {
    alert("TEST");
    if (document.getElementById(parm1) .style.display = 'none') {
      document.getElementById(parm1) .style.display = 'block';
    } else {
      document.getElementById(parm1) .style.display = 'none';
    }
  }
  </script>

